html
body										{margin:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
*											{margin:0; padding:0}
a											{outline:0; text-decoration:none}
img											{border:0}
h1,h2,h3,h4,h5,h6							{font-weight:normal}
li						 					{list-style:none}

#head										{width:100%; float:left; background:url(../images/headBg.png) repeat-x}
.head_height								{height:478px}
.head_pad									{padding-bottom:30px}
#head_cen									{width:850px; margin:0 auto}
#head_sup									{width:850px; float:left; position:relative}
#head p.search								{width:auto; margin-top:12px; float:right; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#999999; line-height:25px; letter-spacing:1px}
#head p.search label						{width:auto; margin-right:10px; float:left}
#head p.search input.txt					{width:135px; height:21px; margin-right:7px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#2c2d2c; border:0; background:url(../images/searchbg.png) no-repeat}
#head p.search input.btn					{width:68px; height:21px; float:left; border:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#999999; text-align:center; cursor:pointer; background:url(../images/searchbtn.png) no-repeat}
#head p.search input.btn:active				{background-position:2px 2px}
#head p.search a 							{padding-left: 50px; font-size: 14px; color: #31a1ff;}

h1.logo										{width:320px; height:72px; margin-top:100px; float:left; background:url(../images/logo.png) no-repeat}
h1.logo a									{width:100%; height:100%; float:left; text-indent:-9999px}
h4.title									{padding-top:20px; font-family: Helvetica, sans-serif; font-size:36px; color: #31a1ff; text-align: center; line-height: 150%;}
#head ul									{width:440px; height:44px; margin-top:58px; float:right; padding-right: 25px; margin-right: -20px}
#head ul li									{width:auto; margin-left:1px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#5f5f5f; line-height:35px; text-transform:uppercase}
#head ul li:first-child						{margin:0}
#head ul li	a,#head ul li a.active			{width:auto; height:42px; padding:0 23px; float:left; color:inherit; background:#252525}
#head ul li	a:hover,#head ul li a.active	{color:#31a1ff; background:#272727}
#cu3er-container							{width:800px; height:360px; float:left; outline:0; position:absolute; top:166px; left:0px; z-index:10}
img.ban_bg									{width:auto; float:left; position:absolute; top:139px; left:-24px}

#content									{width:100%; padding-bottom:36px; float:left; background:#ffffff url(../images/contentBg.png) repeat-x}
#content h1 								{font-size:30px; font-weight: 300; line-height:1em; text-align: center; color: #4DC3FA;}
#content_cen								{width:800px; margin:0 auto}
#content_sup								{width:800px; float:left; position:relative}
#ct_pan										{width:100%; height:200px; margin-top:30px; float:left; position:relative; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#999999; line-height:16px; background:#3b3b3b}
#ct_pan p									{width:auto; margin:14px 30px 0 34px; float:left; font-size: 18px; line-height: 24px; text-align: center;}
#ct_pan p span								{color:#31a1ff;}
#ct_pan ul									{width:195px; margin-top:26px; float:left}
#ct_pan ul li								{width:100%; float:left}
#ct_pan ul li a								{color:inherit; text-decoration:underline; line-height:20px}
#ct_pan ul li a:hover						{color:#31a1ff}
#ct_pan a.tweet								{width:95px; height:102px; float:right; position:absolute; right:-50px; top:42px; background:url(../images/tweet.png) no-repeat}

#welcom_pan									{width:100%; margin-top:37px; padding-bottom:36px; float:left; border-bottom:#c9c9c9 solid 1px; background:url(../images/crosslines.png) no-repeat right 8px}
h2											{width:auto; margin-top:9px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#31a1ff; font-weight:bold; line-height:30px; letter-spacing:-1.7px}
h2 span										{color:#3b3b3b; text-transform:uppercase; margin-right:5px}
#welcom_pan a.brochure						{width:auto; height:54px; margin-right:31px; padding:0 8px 0 0; float:right; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff; font-weight:bold; line-height:54px; background:url(../images/buttonBg.png) no-repeat right -54px}
#welcom_pan a.brochure span					{width:auto; height:54px; padding:0 13px 0 23px; float:left; background:url(../images/buttonBg.png) no-repeat 0 0}
#welcom_pan p								{width:755px; margin:25px 0 0 14px; float:left; font-size:16px; color:#4d4d4d; line-height:18px}
#welcom_pan p span 							{padding-left:30px;}
#welcom_pan	iframe							{margin:37px 0 0 14px; float:left; border-bottom:#c9c9c9 solid 1px; background:url(../images/crosslines.png) no-repeat right 8px}
#welcom_pan a.enlarg						{width:auto; margin:15px 0 0 14px; float:left; color:#848484}
#welcom_pan h3								{clear:left}
.lftWrap									{width:300px; float:left; clear:left}
.lftWrap p									{width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:28px; color:#4d4d4d}
.rgtWrap input.txt							{width:176px; margin:20px 20px 0 0; padding:3px 5px; height:30px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#bfbfbf; font-weight:bold; border:#cbcbcb solid 1px; background:#ffffff}
.rgtWrap input.btn							{width:113px; height:42px; margin-top:18px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#ffffff; font-weight:bold; text-align:center; cursor:pointer; border:0; background:url(../images/submitBtn.png) no-repeat}
.rgtWrap input.btn:active					{background-position:1px 1px}
.rgtWrap									{width:500px; float:left}
.rgtWrap h3									{width:100%}
h3											{width:auto; float:left; font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#31a1ff; font-weight:bold; line-height:60px; letter-spacing:-1.7px}
h3 span										{color:#3b3b3b; margin-right:0px}

ul#infoPan									{width:100%; float:left}
ul#infoPan li								{width:200px; float:left}
ul#infoPan li:first-child					{margin:0}
ul#infoPan li h3							{width:100%; height:67px; float:left; font-size:24px; color:#31a1ff; font-weight:bold; line-height:60px; letter-spacing:-1.7px}
ul#infoPan li h3 span						{color:#3b3b3b; margin-right:2px}
ul#infoPan li h3 img						{margin-right:26px; float:right}
ul#infoPan li p								{width:100%; margin-top:16px; float:left; font-size:18px; color:#848484; line-height:24px; }
ul#infoPan li p.descrip						{margin-top:13px; font-size:12px; line-height:16px;}

#quotPan									{width:848px; height:100px; margin-top:42px; float:left; position:relative; left:-24px; border-top:#c9c9c9 solid 1px; background:url(../images/pat.png) repeat }
#quotPan h3									{width:274px; margin:14px 0 0 24px; float:left; line-height:45px}
#quotPan input.txt							{width:176px; margin:20px 20px 0 0; padding:3px 5px; height:30px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#bfbfbf; font-weight:bold; border:#cbcbcb solid 1px; background:#ffffff}
#quotPan input.btn							{width:113px; height:42px; margin-top:18px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#ffffff; font-weight:bold; text-align:center; cursor:pointer; border:0; background:url(../images/submitBtn.png) no-repeat}
#quotPan input.btn:active					{background-position:1px 1px}
#quotPan p   								{width:auto; margin:34px 52px 0 34px; float:center; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 15px; line-height: 24px; text-align: center; padding-top: 15px; color: #3b3b3b;}
#quotPan p a 								{color:#31a1ff;}

#quotPanReg									{width:100%; height:269px; margin-top:42px; float:left;  border-top:#c9c9c9 solid 1px; background:url(../images/pat.png) repeat }
#quotPanReg h3								{color: #5f5f5f; #width:274px; margin:24px 0 0 24px; float:center; line-height:45px}
#quotPanReg h3 span							{color:#31a1ff; margin-right:2px}
#quotPanReg p   							{width:auto; margin:14px 52px 0 34px; float:left; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 18px; line-height: 24px; text-align: center; padding-top: 10px; color: #3b3b3b;}
#quotPanReg input.txt						{width:200px; margin:20px 20px 0 0; padding:3px 5px; height:30px; float:center; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#bfbfbf; font-weight:bold; border:#cbcbcb solid 1px; background:#ffffff}
#quotPanReg input.ema						{width:300px; margin:20px 20px 0 0; padding:3px 5px; height:30px; float:center; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#bfbfbf; font-weight:bold; border:#cbcbcb solid 1px; background:#ffffff}
#quotPanReg input.code						{width:1000px; margin:20px 20px 0 0; padding:3px 5px; height:300px; float:center; font-family:Consolas, Monaco; font-size:14px; color:#bfbfbf; font-weight:bold; border:#cbcbcb solid 1px; background:#ffffff}
#quotPanReg input.btn						{width:113px; height:42px; margin-top:18px; float:center; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#ffffff; font-weight:bold; text-align:center; cursor:pointer; border:0; background:url(../images/submitBtn.png) no-repeat}
#quotPanReg input.btn:active				{background-position:1px 1px}



#blog										{width:506px; margin-top:24px; float:left}
#blog ul									{width:100%; float:left}
#blog ul li									{width:100%; margin-top:21px; float:left; border-top:#c9c9c9 solid 1px}
#blog ul li:first-child						{margin-top:0; border:0}
#blog ul li a								{width:auto; margin-top:25px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#848484; line-height:24px}
#blog ul li p								{width:100%; margin-top:16px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5c5c5c; line-height:16px}

#latest										{width:233px; margin:24px 0 0 60px; float:left}
#latest ul									{width:100%; float:left}
#latest ul li								{width:100%; margin-top:21px; float:left; border-top:#c9c9c9 solid 1px}
#latest ul li:first-child					{margin-top:0; border:0}
#latest ul li a								{width:auto; margin-top:25px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#848484; line-height:24px}
#latest ul li p								{width:100%; margin-top:16px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5c5c5c; line-height:16px}	

#foot										{width:100%; height:163px; float:left; background:url(../images/footBg.png) repeat-x}
#foot_cen									{width:800px; margin:28px auto 0 auto}
#foot h6									{width:320px; height:72px; margin:0 auto; transform:scale(0.75, 0.75); text-indent:-9999px; background:url(../images/logo.png) no-repeat}
#foot h6 a									{width:100%; height:100%; float:left}
#foot ul									{width:350px; margin:11px auto 0 auto}
#foot ul li									{width:auto; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#767676; line-height:18px}
#foot ul li a								{width:auto; float:left; color:inherit}
#foot ul li.space							{width:auto; float:left; padding:0 6px}
#foot p										{width:100%; margin-top:10px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#767676; line-height:18px; text-align:center}
#foot p	a									{color:inherit}

#service_pan								{width:100%; margin-top:20px; float:left}
#service_pan ul								{width:100%; float:left}
#service_pan ul li							{width:325px; height:100px; margin:0 30px; float:left; border-bottom:#c9c9c9 solid 1px}
/*#service_pan ul li:first-child				{border:0}
*/#service_pan ul li:hover					{background:#fbfbfb}
#service_pan ul li h5						{width:auto; margin:10px 0 0 10px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#31a1ff}
#service_pan ul li p						{width:300px; margin:5px 0 0 10px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#5c5c5c}
#service_pan ul li p a						{width:auto; float:right; color:#31a1ff}

#pricing-table 								{padding: 40px; text-align: center; width: auto; height: auto;}
#pricing-table .plan 						{font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica; text-shadow: 0 1px rgba(255,255,255,.8); background: #fff;
											border: 1px solid #ddd;	color: #333; padding: 20px;	width: 138px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
											float: left; position: relative; height: 100px;}
#pricing-table .plan:nth-child(1) 			{ -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;}
#pricing-table .plan:nth-child(4) 			{ -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0;}
#pricing-table h3 							{font-size: 20px; font-weight: normal; letter-spacing: 0px; padding-left: 15px;	margin: -20px -20px 20px 5px;}
#pricing-table .plan:nth-child(1) h3 		{-moz-border-radius: 5px 0 0 0;	-webkit-border-radius: 5px 0 0 0;border-radius: 5px 0 0 0;}
#pricing-table .plan:nth-child(4) h3 		{-moz-border-radius: 0 5px 0 0;	-webkit-border-radius: 0 5px 0 0;border-radius: 0 5px 0 0;}	
#pricing-table h3 span 						{display: block; font: bold 25px/80px Georgia, Serif;color: #777;background: #fff;border: 5px solid #fff; height: 80px;width: 80px;
											margin: -10px auto -65px;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
											-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;}
.clear:before, .clear:after 				{content:""; display:table}
.clear:after 								{clear:both}
.clear 										{zoom:1}

.container th h1 							{font-weight: bold; font-size: 1em; text-align: left; color: #185875;margin-left: -20px;}
.container td 								{font-weight: normal; font-size: 1em; -webkit-box-shadow: 0 2px 2px -2px #0E1119;-moz-box-shadow: 0 2px 2px -2px #0E1119;box-shadow: 0 2px 2px -2px #0E1119;}
.container 									{text-align: left;overflow: hidden; width: 80%;margin: 0 auto;display: table;padding: 0 0 8em 0;}
.container td, .container th 				{padding-bottom: 2%; padding-top: 2%; padding-left:2%; color: #fff; font-size: 20px;}
/* Background-color of the odd rows */
.container tr:nth-child(odd) 				{background-color: #323C50;}
/* Background-color of the even rows */
.container tr:nth-child(even) 				{background-color: #2C3446;}

.container th 								{background-color: #1F2739;}
.container td:nth-child(2) 					{color: #FB667A;width: 400px;}
.container td:nth-child(odd) 				{width: 120px;}

.container tr:hover 						{background-color: #464A52;-webkit-box-shadow: 0 6px 6px -6px #0E1119;-moz-box-shadow: 0 6px 6px -6px #0E1119;box-shadow: 0 6px 6px -6px #0E1119;}
.container td:hover 						{background-color: #FFF842;color: #403E10;font-weight: bold;box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  											transform: translate3d(6px, -6px, 0);transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: line;}
@media (max-width: 800px) 					{.container td:nth-child(4),.container th:nth-child(4) {display: none;}}
